:root {
  --white: #ffffff;
  --black: #000000;
	--black2: #111214;
	--border: #F4F8F7;
	--dark-border: #33333324;
	--icon-color: #616161;
	--text: #333333;
	--text2: #242331;
	--admin-text: #4D5E80;
	--primary: #3361FF	;
	--gray: #797979;
	--grayLight: #F9F9F9;
	--input-gray: #D3D3D3;
}